<!DOCTYPE html>
<html>
<head>
    <title>Recommendation System</title>
</head>
<body>
    <h1>Recommendation System</h1>
    <form action="/recommend" method="post">
        <label for="user_input">Enter Title:</label>
        <input type="text" name="user_input" required><br>

        <label for="media_type">Media Type:</label>
        <select name="media_type">
            <option value="Movies">Movies</option>
            <option value="TV Series">TV Series</option>
            <option value="Video Games">Video Games</option>
        </select><br>

        <input type="checkbox" name="media" value="movies">Movies<br/>
        <input type="checkbox" name="media" value="tv-series">TV Series<br/>
        <input type="checkbox" name="media" value="video-games">Video Games<br/>

        <label for="ranking">Minimum Ranking (1-10):</label>
        <input type="number" name="ranking" min="0" max="10" step="0.1"><br>

        <label for="runtime">Maximum Runtime (minutes):</label>
        <input type="number" name="runtime"><br>

        <label for="year">Release Year:</label>
        <input type="number" name="year"><br>

        <label for="rating">Minimum Rating:</label>
        <input type="number" step="0.1" name="rating"><br>

        <label for="num_votes">Minimum Number of Votes:</label>
        <input type="number" name="num_votes"><br>

        <label for="num_recommendations">Number of Recommendations:</label>
        <input type="number" name="num_recommendations"><br>

        <input type="submit" value="Recommend">
    </form>
</body>
</html>
