<!DOCTYPE html>
<html>
<head>
    <title>Recommendation System</title>
</head>
<body>
    <h1>Recommendation System</h1>
    <form action="/recommend" method="post">
        <label for="title">Enter Title:</label>
        <input type="text" name="title" required placeholder="The Dark Knight"><br>

        <label for="key_words">Key words:</label><br>
        <textarea id="key_words" name="key_words" rows="4" cols="50" placeholder="Enter any other key words here..."></textarea><br>

        <label for="num_recommendations">Number of Recommendations (1-50):</label>
        <input type="number" name="num_recommendations" min="1" max="50" step="1" placeholder="10"><br>
        
        <br><b>Filters:</b><br>
        <label for="media_type">Media Type:</label><br>
        <input type="checkbox" name="media" value="movie">Movies<br>
        <input type="checkbox" name="media" value="tv series">TV Series<br>
        <input type="checkbox" name="media" value="video game">Video Games<br>

        <label for="ranking">Minimum Ranking:</label>
        <input type="number" name="ranking"><br>

        <label for="runtime">Maximum Runtime (minutes):</label>
        <input type="number" name="runtime"><br>

        <label for="year">Release Year:</label>
        <input type="number" name="year"><br>

        <label for="rating">Minimum Rating:</label>
        <input type="number" step="0.1" min="0" max="10" name="rating"><br>

        <label for="num_votes">Minimum Number of Votes:</label>
        <input type="number" name="num_votes"><br>

        <input type="submit" value="Recommend">
    </form>

    <h2>Media Search</h2>
    <form action="/search" method="get">
        <label for="media_id">Enter Media ID:</label>
        <input type="number" name="media_id" required placeholder="1" min="0" max="2249"><br>

        <input type="submit" value="Search">
    </form>
</body>
</html>
