<!DOCTYPE html>
<html>
<head>
    <title>Recommendations</title>
</head>
<body>
    <h1>Recommendations</h1>

    <ul>
        Getting {{ num_recommendations }} recommendations for <b>{{ title }}</b>:
    </ul>

    <ol>
        {% for title, id, type in recommendations %}
            <li><a href={{ url_for('search', media_id=id) }}>{{ title }}</a>
                <ul>
                    <li>ID: {{ id }}</li>
                    <li>{{ type }}</li>
                </ul>
            </li>
        {% endfor %}
    </ol>

    <button onclick="goBack()">Go Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
