<!DOCTYPE html>
<html>
<head>
    <title>Recommendations</title>
</head>
<body>
    <h1>Recommendations</h1>

    <ul>
        Getting {{ num_recommendations }} recommendations for <b>{{ title }}</b>:
    </ul>

    <ol>
        {% for title, id, type in recommendations %}
            <li>{{ title }}
                <ul>
                    <li>ID: {{ id }}</li>
                    <li>{{ type }}</li>
                </ul>
            </li>
        {% endfor %}
    </ol>

    <a href="/">Go back</a>
</body>
</html>
