<!DOCTYPE html>
<html>
<head>
    <title>Media Info</title>
</head>
<body>
    <h1>Media Info</h1>
    <b>Title:</b> {{ title }} <br>
    <b>ID:</b> {{ media_id }} <br>
    <b>Genre:</b> {{ genre }} <br>
    <b>Director:</b> {{ director }} <br>
    <b>Actors:</b> {{ actors }} <br>
    <b>Description:</b> {{ description }} <br>
    <br>

    <button onclick="goBack()">Go Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
